aside.sidebar
  a.sidebar__item(href=h.nsp('/news'))
    span.icon-list
    .sidebar__session News
  a.sidebar__item(href=h.nsp('/calendar'))
    span.icon-ccw
    .sidebar__session Calendar
  //- a.sidebar__item(href=h.nsp('/crypto'))
  //-   span.icon-wallet
  //-   .sidebar__session Crypto
  //- a.sidebar__item(href=h.nsp('/indexes'))
  //-   span.icon-chart-bar
  //-   .sidebar__session Indexes
  //- a.sidebar__item(href=h.nsp('/bonds'))
  //-   span.icon-chart-area
  //-   .sidebar__session Bonds